{
  "env": {
    "es6": true,
    "node": true,
  },
   "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-console": "error",
    "no-undefined": 2,
    "no-undef": 0,
    "no-unexpected-multiline": 0,
    "semi": ["error", "always"],
    "prefer-const": ["error"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
    "prettier/prettier": ["error", { "singleQuote": true }],
    "func-names": ["error", "never"]
  }
}
